<!doctype html>
%html{lang: "en"}
%head
  %meta{charset: "UTF-8"}
  %link{rel: "stylesheet", href: "vendor/font-awesome/css/font-awesome.min.css"}
  %link{rel: "stylesheet", href: "draft.css"}
  %script{src: 'vendor/jquery/dist/jquery.min.js'}
  %script{src: 'draft.js'}
  %title Document
%body
  %h1
    .fa.fa-smile-o.fa-spin
    sup
